html, body, .container {
    height: 100%;
}
.container {
    display: table;
	padding-top: 10%;
	text-align: center;
}

table, th, td {
  border: 1px solid black;
}

th {
	text-align: center !important;
}

tr:last-child {
	font-weight: bold;
}

.input-group {
	margin: 0 auto;
}